body { 
    font-family: Calibri, sans-serif;
 }
#container { 
    text-align: center 
}
table { 
        border-collapse: collapse; 
        font-size: 2em; 
        margin: 0 auto; 
    }
colgroup, tbody {
         border: solid medium;
         }
td {
         border: solid thin; 
         height: 1.4em; 
         width: 1.4em; 
         text-align: center; 
         padding: 0;
    }
    
button{
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #c1e6f5;
    color: #010545;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.5s;
}
button:hover{
    color: rgb(7, 1, 23);
    border-color:#180251;
    box-shadow: 0em 0.5em 0.5em -0.4em #030128;
    transform: translatey(-0.25em);
    cursor: pointer;
}
